@use "../util/_breakpoints" as _breakpoints

.flex
    display: flex

.row
    @extend .flex
    flex-direction: row
    column-gap: 1rem
    row-gap: 1rem

.col
    @extend .row
    flex-direction: column

.Navbar-root
    @extend .row
    justify-content: space-between
    align-items: center

.Navbar-root > ul
    @extend .Navbar-root
    li
        margin-bottom: 0

.Searchbar-root, .Home-root
    @extend .col
    justify-content: center
    align-items: center

.ResultCard-root
    @extend .row
    @include _breakpoints.breakpoint(sm)
        flex-direction: column
    &__text
        @extend .col
        row-gap: 0
        column-gap: 0
        justify-content: space-around
    &__tags
        @extend .row
        flex-wrap: wrap
        & > li
            margin-bottom: 0

.Recipe-root
    @extend .col
    &__card, &__text, &__card > div
        @extend .col
    &__card > div
        align-items: center
    &__card
        align-items: center
        @include _breakpoints.breakpoint(sm)
            flex-direction: row

.Bottom-root
    @extend .col
    align-items: center
    row-gap: 2rem
    &__socials
        @extend .row
        justify-content: space-between
        max-width: 45rem

.MockCard-root
    @extend .row
    &__text
        @extend .col

.Results-root
    &__cards-container
        @include _breakpoints.breakpoint(sm)
            display: flex
            justify-content: center
            align-items: center
    &__cards
        @extend .col
        @include _breakpoints.breakpoint(sm)
            width: fit-content
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-column-gap: 1rem
            grid-row-gap: 1rem
        @include _breakpoints.breakpoint(md)
            grid-template-columns: repeat(3, 1fr)
        @include _breakpoints.breakpoint(lg)
            grid-template-columns: repeat(4, 1fr)
