.flex
    display: flex

.row
    @extend .flex
    flex-direction: row
    column-gap: 1rem
    row-gap: 1rem

.col
    @extend .row
    flex-direction: column

.Navbar-root
    @extend .row
    justify-content: space-between
    align-items: center

.Navbar-root > ul
    @extend .Navbar-root
    li
        margin-bottom: 0

.Searchbar-root, .Home-root
    @extend .col
    justify-content: center
    align-items: center

.ResultCard-root
    @extend .row
    &__text
        @extend .col
        row-gap: 0
        column-gap: 0
        justify-content: space-around
        .rating
            @extend .ResultCard-root

.Recipe-root
    @extend .col
    &__card, &__text
        @extend .col
    &__card
        align-items: center

.Bottom-root
    @extend .col
    align-items: center
    row-gap: 2rem
    &__socials
        @extend .row
        justify-content: space-between

.InputBar-root
