@use "../global/_colors" as _colors

.ResultCard-root
    background: _colors.$white
    color: _colors.$black-500
    padding: 2rem
    cursor: pointer
    img
        max-width: 14rem
    &__text
        strong
            color: _colors.$main
        h1
            font-size: 2.5rem
    &__tags
        color: _colors.$green
