@use "../global/colors"

.Home-root
    height: 100vh
    background-image: url("../assets/images/background.png")
    background-repeat: no-repeat
    background-size: cover
    color: colors.$white
    .links
        display: flex
        column-gap: 1rem
    input
        padding: 2rem 0 2rem 6rem
        background-color: rgba(255, 255, 255, 0.75)
        border: none
        background-image: url("../assets/icons/search-icon.svg")
        background-repeat: no-repeat
        background-position-y: center
        background-position-x: 1rem
