.Home-root {
  height: 100vh;
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.Home-root .links {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.Home-root .links img {
  max-width: 1rem;
}
.Home-root input {
  padding: 2rem 0 2rem 6rem;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  background-image: url("../assets/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
}
@media ((min-width: 900px)) {
  .Home-root input {
    width: 100%;
    max-width: 75rem;
  }
}

@media ((min-width: 600px)) {
  .Recipe-root {
    margin-top: 0 !important;
  }
}
.Recipe-root__card {
  text-align: center;
}
@media ((min-width: 600px)) {
  .Recipe-root__card figure, .Recipe-root__card div {
    margin: 0;
    width: 50vw;
  }
}
.Recipe-root__card figure img, .Recipe-root__card div img {
  min-width: 100vw;
}
@media ((min-width: 600px)) {
  .Recipe-root__card figure img, .Recipe-root__card div img {
    min-width: unset;
  }
}
.Recipe-root__card .label {
  color: #fff;
  background: #F93F23;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
}
.Recipe-root__text {
  width: 100%;
  margin: 0 auto;
}
@media ((min-width: 600px)) {
  .Recipe-root__text {
    max-width: 100rem;
  }
}
.Recipe-root__text hr {
  border: none;
  height: 2px;
  background: #E2DDCC;
}
.Recipe-root__text .servings {
  background: #E2DDCC;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
}
.Recipe-root__text dt {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.Recipe-root__text dl, .Recipe-root__text dd:last-of-type {
  margin-bottom: 0;
}

@keyframes glowing {
  0% {
    background: rgba(255, 255, 255, 0.5);
  }
  50% {
    background: rgba(255, 255, 255, 0.12);
  }
  100% {
    background: rgba(255, 255, 255, 0.5);
  }
}
.MockCard-root {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  padding: 2rem;
}
.MockCard-root__image, .MockCard-root__text > div {
  animation: infinite ease 2s glowing;
}
.MockCard-root__image, .MockCard-root__text {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}
.MockCard-root__text {
  background: none;
}
.MockCard-root__text div {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 3.5rem;
}

.ResultCard-root {
  background: #fff;
  color: #333333;
  padding: 2rem;
  cursor: pointer;
}
@media ((min-width: 600px)) {
  .ResultCard-root {
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 35rem;
    min-height: 46rem;
  }
}
.ResultCard-root img {
  max-width: 14rem;
}
@media ((min-width: 600px)) {
  .ResultCard-root img {
    max-width: unset;
    max-height: 29rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media ((min-width: 600px)) {
  .ResultCard-root__text {
    padding: 2rem;
  }
}
.ResultCard-root__text strong {
  color: #F93F23;
}
.ResultCard-root__text h1 {
  font-size: 2.5rem;
}
.ResultCard-root__tags {
  color: #83b838;
}

.Navbar-root, .Searchbar-root {
  padding: 2rem;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.Searchbar-root {
  position: sticky;
  background: #F93F23;
  padding: 2rem 2rem;
}
.Searchbar-root img[alt="text logo"] {
  max-width: 10rem;
}
.Searchbar-root form {
  width: 100%;
}
.Searchbar-root form input {
  border: none;
  background-image: url("../assets/icons/search-icon-dark.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
  padding: 1rem 0 1rem 4rem;
  width: 100%;
}

.Bottom-root {
  text-align: center;
  background: #333333;
  padding: 6rem 3rem;
  color: #fff;
}
.Bottom-root__intro, .Bottom-root__group, .Bottom-root__copyright, .Bottom-root__more a, .Bottom-root__connect a, .Bottom-root #more, .Bottom-root #connect {
  font-size: 1.5rem !important;
}
.Bottom-root__more, .Bottom-root__connect {
  display: none;
  margin-bottom: 0;
}
.Bottom-root__socials {
  width: 100%;
}
.Bottom-root__socials > li {
  margin-bottom: 0;
}
.Bottom-root > img {
  max-width: 10rem;
}

.InputBar-root {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}
.InputBar-root img {
  max-height: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
}
.InputBar-root input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333333;
  background-image: url("../assets/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
  padding: 2rem 0 2rem 6rem;
  width: 100%;
}

body, dd, ul {
  margin: 0;
  line-height: normal;
}

dl > *, li {
  margin-bottom: 2rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section > *, article > * {
  margin-bottom: 2rem !important;
}

main > * {
  padding: 2rem !important;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

:focus-visible {
  outline: none !important;
  border: 2px solid #0892f5 !important;
  border-radius: 1rem;
}

img {
  width: 100%;
  height: 100%;
}

hr {
  width: 100%;
}

figcaption {
  font-size: 1.5rem;
}

a {
  cursor: pointer;
}

:root {
  font-family: "Playfair Display", serif;
  font-size: 8px;
  color: #333333;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

p, div, button, li, a, input, textarea {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.caption, input, textarea, a {
  font-family: "Montserrat", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.flex, .row, .MockCard-root, .Bottom-root__socials, .ResultCard-root__tags, .ResultCard-root, .Navbar-root, .Navbar-root > ul, .Navbar-root > ul > ul, .col, .Results-root__cards, .MockCard-root__text, .Bottom-root, .Recipe-root__card, .Recipe-root__text, .Recipe-root__card > div, .Recipe-root, .ResultCard-root__text, .Searchbar-root, .Home-root {
  display: flex;
}

.row, .MockCard-root, .Bottom-root__socials, .ResultCard-root__tags, .ResultCard-root, .Navbar-root, .Navbar-root > ul, .Navbar-root > ul > ul, .col, .Results-root__cards, .MockCard-root__text, .Bottom-root, .Recipe-root__card, .Recipe-root__text, .Recipe-root__card > div, .Recipe-root, .ResultCard-root__text, .Searchbar-root, .Home-root {
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}

.col, .Results-root__cards, .MockCard-root__text, .Bottom-root, .Recipe-root__card, .Recipe-root__text, .Recipe-root__card > div, .Recipe-root, .ResultCard-root__text, .Searchbar-root, .Home-root {
  flex-direction: column;
}

.Navbar-root, .Navbar-root > ul, .Navbar-root > ul > ul {
  justify-content: space-between;
  align-items: center;
}

.Navbar-root > ul li {
  margin-bottom: 0;
}

.Searchbar-root, .Home-root {
  justify-content: center;
  align-items: center;
}

@media ((min-width: 600px)) {
  .ResultCard-root {
    flex-direction: column;
  }
}
.ResultCard-root__text {
  row-gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
  justify-content: space-around;
}
.ResultCard-root__tags {
  flex-wrap: wrap;
}
.ResultCard-root__tags > li {
  margin-bottom: 0;
}

.Recipe-root__card > div {
  align-items: center;
}
.Recipe-root__card {
  align-items: center;
}
@media ((min-width: 600px)) {
  .Recipe-root__card {
    flex-direction: row;
  }
}

.Bottom-root {
  align-items: center;
  row-gap: 2rem;
}
.Bottom-root__socials {
  justify-content: space-between;
  max-width: 45rem;
}

@media ((min-width: 600px)) {
  .Results-root__cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media ((min-width: 600px)) {
  .Results-root__cards {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
@media ((min-width: 900px)) {
  .Results-root__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media ((min-width: 1200px)) {
  .Results-root__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=main.css.map */